{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@": "./"
        }
      },
      "jsx-control-statements",
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }

    ]
  ]
}
