.link--twitter,
.link--github {
  position: absolute;
  top: 100px;
  color: #FFF;
  right: 30px;
  text-decoration: none;
  font-size: 30px;
}

.link--github {
  display: none;
  @include respond-to(small) {
    display: inline-block;
  }
}

.link--twitter {
  @include respond-to(small) {
    display: none;
  }
}
