.header {
  @include clearfix();
  position: absolute;
  top: 0;

  width: 100%;
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #fff;
  z-index: 3;

  text-align: center;

  transition: all 1s ease-in-out;
  transform: translate3d(0px,-100%,0);
  //box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 4px 0px;
  // opacity: 0;

  &.is-active {
      transform: translate3d(0,0,0);
      opacity: 1;
  }

  @include respond-to(small) {
    text-align: none;
  }

  &__intro {
    display: inline-block;
    margin-top: 19px;

    @include respond-to(small) {
      float: left;
    }
  }

  &__logo {
    width: 155px;
    display: block;
    margin-bottom: 3px;
  }

  &__byline {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #979292;
    letter-spacing: 0.03rem;
  }

  &__plug {
    display: none;
    float: left;
    margin-top: 15px;
    margin-left: 40px;
    @include respond-to(large) {
      display: inline-block;
    }
  }

  &__share-btns {
    display: none;
    float: right;
    margin-top: 24px;

    @include respond-to(small) {
      display: inline-block;
    }
  }
}
