.canvas {
  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;
  // height: calc( 100% - 100px );
  height: 100%;

  background: #fff;
  // background: -webkit-gradient(linear,left top, right bottom,color-stop(0, #56B4D3),color-stop(1, #348F50));
  // background: -webkit-linear-gradient(45deg, #56B4D3 0%, #348F50 100%); /* Chrome 10+, Saf5.1+ */
  // background:    -moz-linear-gradient(45deg, #56B4D3 0%, #348F50 100%); /* FF3.6+ */
  // background:     -ms-linear-gradient(45deg, #56B4D3 0%, #348F50 100%); /* IE10 */
  // background:      -o-linear-gradient(45deg, #56B4D3 0%, #348F50 100%); /* Opera 11.10+ */
  // background:         linear-gradient(45deg, #56B4D3 0%, #348F50 100%); /* W3C */
}
