.infobox {
  @include font-smoothing();
  position: absolute;
  top: 120px;
  padding-left: 20px;
  color: #fff;

  &__heading {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 15px;
  }

  &__info {
    font-family: "Source Code Pro", "Consolas", monospace;
    font-size: 12px;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }

  &__icon {
    cursor: pointer;
    position: absolute;
    margin-top: 1px;
    margin-left: 9px;
    transition: opacity 0.2s ease-in-out;
    opacity: 0.5;
    display: none;

    &:hover {
      opacity: 1;
    }

    @include respond-to(small) {
      display: inline-block;
    }

  }

  &__color1-success,
  &__color2-success {
    position: relative;
    margin-left: 33px;
    display: none;
  }

}


