@import '../helpers/mixin';

.actionbar {
  background-color: #FFF;
  height: 36px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  z-index: 4;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 1px 4px;
  padding: 0;

    @include respond-to(medium) {
      padding: 0 20px;
    }

  &__section {
    flex-grow: 1;
    flex-basis: 33.333%;
    margin-top: -2px; // hack to visually center align content

    &--swatch {
      display: flex;
      justify-content: center;
      flex-basis: 100%;

    @include respond-to(medium) {
      flex-basis: 33.33%;
    }

    }
  }

  &__left {
    display: flex;
  }

  &__nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: flex-end;
    height: 38px;
    display: none;

    @include respond-to(medium) {
      display: flex;
    }

  }

  &__nav-item {
    margin-left: 10px;
    position: relative;
    height: 100%;
    width: 40px;
    text-align: center;
    &:not(:first-child):before {
      content: '|';
      margin-left: 10px;
      position: absolute;
      left: -17px;
      top: 9px;
      color: #eaeaea;
    }
  }

  &__nav-link {
    // height: 100%;
    // display: block;
    padding: 7px 8px 3px;
    border-radius: 3px;

    &:hover {
      background-color: #f3f3f3;
    }
  }

  &__nav-icon {
    width: 16px;
    height: 16px;
    margin-top: 12px;
    fill: #3c4859;
  }

  &__burger {
    display: none;

    @include respond-to(medium) {
      display: flex;
    }

  }

}