  .hex {
    display: inline-block;
    font-family: "SF Mono Regular", "Source Code Pro", Consolas, monospace;
    font-size: 15px;
    position: relative;
    cursor: pointer;
    padding: 3px 6px;
    border-radius: 3px;
    transition: background 0.2s ease-in-out;

    &:hover {
      background-color: #fafafa;
    }

    &__block {
      position: relative;
      float: left;
      // cursor: pointer;
      margin-top: 3px;
      margin-right: 3px;
      display: inline-block;
      width: 14px;
      height: 14px;
      background-color: #eaeaea;
    }

    &__copied {
      position: absolute;
      background-color: #eaeaea;
      padding: 3px 5px;
      font-size: 12px;
      border-radius: 3px;
      margin-left: -27px;
      bottom: 0;
      left: 50%;
      opacity: 1;
    }

    &__arrow { 
      font-size: 16px !important;
      margin-top: 4px;
      color: #767676;
      &:last-child {
        display: none;
      }
    }

    // &.last {
    //   .hex__arrow { display: none; }
    // }
  }